 /* page 7*/
.popup{
    position: absolute;
    width: 45%;
    left: 30%;
    top: 10%;

}
#background{
    width: 100%;
    height: 100%;x


}

.logo{
    width: 30px;
    position: absolute;
    left: 83%;
    top: 3%;

}

.popup{
    position: absolute;
    width: 45%;
    left: 30%;
    top: 20%;

}

.clickable{
    position: absolute;
    width: 5.5%;
    top: 75%;
    left: 67.5%;
}